streamlit==1.38.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-huggingface==0.0.3
langchain-openai==0.1.23
openai==1.43.0
chromadb==0.5.5
huggingface-hub==0.24.6
numpy==1.26.4
pandas==2.2.2
requests==2.31.0
tiktoken==0.7.0
transformers==4.44.2
sentence-transformers==3.0.1
protobuf==3.20.3
